.footer{
    background-color: black;
}

.social-media a{
    width:30px;
    height:30px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}