.logo{
    background-repeat:no-repeat;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    position:relative
}
header{
    font-family: 'PT Serif', serif;
    background-color: black;
    width: auto;
}

.navbar-nav {
    background-color: rgb(204, 35, 12);
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.navbar-nav li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}
.navbar-nav li {
    display: inline-block;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.navbar-bar li a:hover {
    background: rgb(109, 16, 16);
}

.search{
    max-width: 400px;
    margin-top: none;
    margin-left: 15px;
        input{
            font-size: medium;
            font-family: 'Source Sans Pro', sans-serif;
            color: black;
            padding: 10px;
            border: 3px solid rgb(204, 35, 12);
            border-radius: 10px;
            }
            button:hover {
                background: #6d1010; 
            }
        }


