.article-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: auto
}

.imageone{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.imagetwo{
    width:200px;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

h2{
    color: white;
    font-size: large;
    padding-bottom: 20px;
    text-decoration: solid;
    text-indent: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

article{
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.article-text{
    font-size: medium;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

section .news-video{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
